Host vm-macos-sierra
  HostName vm-macos-sierra.local
  User kbeckman
  IdentityFile ~/.ssh/id_rsa

Host vm-osx-elcapitan
  HostName vm-osx-elcapitan.local
  User kbeckman
  IdentityFile ~/.ssh/id_rsa

