# Create a single-purpose SSH key in ~/.ssh/keys...
# ssh-keygen -b 4096 -t rsa -C keibeck@amazon.com ~/.ssh/keys/aws-codecommit
Host git-codecommit.*.amazonaws.com
  User APKATHSI2KHV3LKJBUVM
  IdentityFile ~/.ssh/keys/aws-codecommit

Host vm-macos-sierra
  HostName vm-macos-sierra.local
  User kbeckman
  IdentityFile ~/.ssh/id_rsa

Host vm-osx-elcapitan
  HostName vm-osx-elcapitan.local
  User kbeckman
  IdentityFile ~/.ssh/id_rsa

